<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
    <title>{{ page.title }}</title>
</head>
<body>
    {% include navigation.html %}
    <div class="top-container">
        <div class="sidebar">
            <ul class="sidebar-list">
                {% for cate in site.categories %}
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">{{ cate[0]}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content-container">
            {{ content }}
        </div>
    </div>
</body>
</html>